<div class="wrapper">
  <div class="header">
    <div class="header__logo">ZenduForms</div>
    <div class="header__navigation">
      <div class="nav-button">
        <img class="icon" src="../../../../assets/img/Forms.svg" />
        <span>Forms</span>
      </div>
      <div class="nav-button">
        <img class="icon" src="../../../../assets/img/Customers.svg" />
        <span>Customers</span>
      </div>
      <div class="nav-button">
        <img class="icon selected" src="../../../../assets/img/Submissons.svg" />
        <span>Submissons</span>
      </div>
      <div class="nav-button">
        <img class="icon" src="../../../../assets/img/History.svg" />
        <span>History</span>
      </div>
      <div class="nav-button">
        <img class="icon" src="../../../../assets/img/Reports.svg" />
        <span>Reports</span>
      </div>
      <div class="nav-button">
        <img class="icon" src="../../../../assets/img/Workflow.svg" />
        <span>Workflow</span>
      </div>
    </div>
    <div class="header__panel">
      <img class="panel-icon" src="../../../../assets/img/Notification.svg" />
      <img class="panel-icon" src="../../../../assets/img/Exit.svg" />
    </div>
  </div>
</div>
